# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Logs and reports
*.log
*.out
*.err
*.tmp
*.bak

# System files
.DS_Store
Thumbs.db

# Cache
*.cache
*.pkl
*.joblib

# Data
/data/*.csv
/data/*.xlsx
/data/*.zip
/data/*.json
/data/*.parquet

# Models
/models/*.h5
/models/*.pt
/models/*.pkl
/models/*.joblib

# Streamlit secrets
.streamlit/secrets.toml

# Mac system
*.DS_Store

# Python environment files
pip-log.txt
pip-delete-this-directory.txt

# Jupyter lab state
.lab/
/reports
/data_curated
/configs/_batch_tmp
/data_curated_demo_30s_10e
